#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}
.card:focus,
.card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

}

.container {
  padding: 2px 16px;
}

.read-the-docs {
  color: #888;
}

.pokemon-card-container {
  width: 20rem;
  display: grid;
}

.pokemons-table {
  height: 30rem;
  overflow-y: scroll;
  border-color: aliceblue;
  border: 1px
}

.h2-title-case {
  text-transform: capitalize;
}

.h1-title-case {
  text-transform: capitalize;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;

}

.grid-container {
  display: inline-grid;
}

.button-selected-page {
  font-size: larger;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  outline: 4px auto -webkit-focus-ring-color;
}

.select-size {
  display: flex;
}

.pokemon-card-back {
  display: flex;
  align-self:flex-start;
}

.pokemon-view-stats {
  justify-content: left;
}